body{
 text-align: center;   
}   
form{
    display: flex;
    flex-direction: column;
    border: 2px solid gray;
    padding: 10px;
    gap: 20px;
    border-radius: 20px;
    width: 300px;
    margin: 10px auto;
}
input{
    text-align: center;
    align-self: center;
    width: 80%;
}

button{
    align-self: center;
    padding: 5px;
    width: auto;
}